<div class="d-flex flex-wrap">
    <div class="card p-2 m-5" style="flex: 1; flex-grow: 1;">
        <div class="card-body m-2">
            <h5 class="card-title gradient-text fw-semibold" style="letter-spacing: 3px;">{{user.username}}
            </h5>
            <p class="card-subtitle mt-3 pb-2 border-bottom border-2 dark-accent fs-small"> Posted on: <span
                    class="gradient-text">{{date}}</span> </p>
        </div>
        <div class="d-flex justify-content-start mb-3 me-2 ms-4">
            <p class="card-text dark-accent fs-6 mb-2 pb-1">{{comment}}</p>
        </div>
    </div>
</div>