<div class="d-flex m-3 col">
    <div class="align-items-baseline">
        <div class="card m-1 p-3">
            <div class="card-body">
                <h5 class="card-title text-center gradient-text fw-bolder">{{diary_name}}</h5>
                <p class="card-subtitle text-center mt-3 mb-2 pb-2 border-bottom border-2 dark-accent fw-light">Bugs
                    Diaries Nº{{id}}
                </p>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <a href="/diaries/{{id}}"
                    class='btn btn-sm mb-3 position-relative ps-4 pe-4 pt-2 pb-1 fs-5 glowing-btn light-accent w-20'>
                    <span class='ms-3 glowing-txt'>D<span class='faulty-letter'
                            style="--bs-text-opacity: .5;">E</span>BUG</span>
                </a>
            </div>
        </div>
    </div>
</div>