<div class="d-flex m-2 col">
    <div class="card pb-0 m-2 diary-card">
        <div class="card-body m-1 text-center">
            <a href="/post/{{id}}" class="card-title gradient-text fw-semibold fs-3 border-bottom border-2 pb-2 mb-4"
                style="letter-spacing: 3px;">{{title}}</a>
            <p class="card-subtitle text-center mt-4 pt-1 mb-2 dark-accent fw-light fs-small"> Posted On:
                <br> <span class="gradient-text fw-semibold text-center">{{date}}</span>
            </p>
        </div>
    </div>
</div>