<div class="card pb-0 m-2 text-center" style="flex: 1; flex-grow: 1;">
    <div class="card-body text-center">
        <a href="/post/{{id}}">
            <h5 class="card-title gradient-text fw-semibold heading-font border-bottom border-2 pb-2">{{title}}</h5>
        </a>
        <p class="card-subtitle text-center dark-accent fw-light fs-small pt-2 bottom-stay"> Posted On:
            <br> <span class="gradient-text fw-semibold text-center">{{date}}</span>
        </p>
    </div>
</div>