<h2 class="ms-2 pb-2 pt-4 mb-2 mt-5 text-center display-4 heading-font gradient-text"> Bugs' Private Space </h2>
<h4 class="ms-2 p-4 text-center dark-accent" style="letter-spacing: 0.5px;"> Welcome
    <span id="username-heading" class='gradient-text fw-bolder fs-2'>
        <i class="fa fa-bug" aria-hidden="true"></i></span>
</h4>

<div class="container" style="margin-right: 25em;">
    <div class="row justify-content-center">
        <div class="col-10 mt-4">
            <div class="card dashboard" style="border-radius: 15px;">
                <div class="card-body p-4 text-center">
                    <i class="fa fa-bug gradient-text m-4" aria-hidden="true"></i>
                    <i class="fa fa-bug gradient-text m-4" aria-hidden="true"></i>
                    <i class="fa fa-bug gradient-text m-4" aria-hidden="true"></i>
                    <i class="fa fa-bug gradient-text m-4" aria-hidden="true"></i>
                    <div class="hstack gap-2 col-md-12 p-2 mb-2 mx-auto justify-content-center pt-2 mt-4">
                        <a href="/posts"
                            class="background-gradient light-hv gradient-text fs-3 btn p-3 width-50 fw-bolder">
                            CHECK OUT YOUR POSTS! </a>
                        <div class="vr ms-4 me-4"></div>
                        <a href="/newpost" id="newpostBtn"
                            class="background-gradient light-hv gradient-text fs-3 btn p-3 width-50 fw-bolder">
                            TEACH US! </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-2 pt-4">
    <h2 class="gradient-text text-center">Our Diaries: </h2>
</div>
<div class="d-flex p-3 width-100 justify-content-center">
    <div class="row align-items-baseline">
        {{#each diaries as |diary|}}
        {{> diary-details}}
        {{/each}}
    </div>
</div>