{{#each diaries as |diary|}}
<div class="mt-5 pt-4 text-center">
    <a href="/diaries/{{id}}">
        <h3 class="fs-2 dark-accent fw-semibold me-5" style="letter-spacing: 4px;">{{diary.diary_name}}</h3>
    </a>
</div>
<div>
    {{#each posts as |post|}}
    {{> post-details}}
    <div class="d-flex justify-content-end mt-1 mb-3 me-2 w-75">
        <p class="dark-accent">Posted on: {{date}}</p>
    </div>
</div>
{{/each}}
{{/each}}