<section class="container">
    <h3 class="diary-name">{{diary.name}}</h3>
    <section class="flex-row justify-center">
        <p>{{diary.name}}</p>
        {{#each diary.posts as |post|}}
        {{> post-details}}
        <h4>Posted on: {{format_time post.date}}</h4>
        {{/each}}
    </section>
</section>