<div class="container-fluid">
    {{#each diaries as |diary|}}
    <h3 class="diary-name mt-5 ms-5 pt-4">{{diary.diary_name}}</h3>
    <div>
        {{#each posts as |post|}}
        {{> post-details}}
        <div class="d-flex justify-content-end mt-1 mb-3 me-2 w-75">
            <p class="lead">Posted on: {{date}}</p>
        </div>
    </div>
    {{/each}}
    {{/each}}
</div>