<div class="jumbotron jumbotron-fluid p-1 bg-light mb-5">
    <div class="container">
        <h1 class="display-4 mb-3 mt-2"> De-buggers Hall of Fame </h1>
        <div class="m-3 text-center rounded-circle">
            <iframe src="https://giphy.com/embed/h408T6Y5GfmXBKW62l" width="480" height="426" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <a href="/dashboard" class="btn p-3 d-flex justify-content-center flex-nowrap mb-3 mt-3"> Check us out! </a>
        <a href="/signup" class="btn p-3 d-flex justify-content-center flex-nowrap mb-5"> Join our team! </a>
    </div>
</div>