<section class="container">
    <section class="post">
        <div class="post-details">
            <h3>{{posts.title}}</h3>
            <p>By: {{posts.user}}</p>
            <p>By: {{user}}</p>
        </div>
    </section>