<div class="d-flex justify-content-center mt-5 pt-5">
        <div class="card pb-0 mt-4 width-75">
            <div class="card-body m-1">
                <h2 class="card-title gradient-text">{{post.title}}</h2>
                <h5 class="card-subtitle mt-3 mb-3 pb-2 border-bottom border-2 dark-accent fw-light"> Debugged by:
                    <span class="heading-font gradient-text fw-semibold fst-italic"> {{post.user.username}} </span>
                </h5>
            </div>
            <div class="d-flex justify-content-start mb-3 me-2 ms-4 light-accent">
                <p class="card-text">{{post.content}}</p>
            </div>
            <div class="d-flex justify-content-end mb-3 me-2 ms-4 light-accent">
                <p class="card-text fs-small">{{post.date}}</p>
            </div>
        </div>
</div>